<script id="shuttle-activity-card-template" type="text/x-handlebars-template">

  <div class="card shuttle-card m-2 p-2">
    <div class="row">
      <div class="col-2">
        <i class="fa fa-location-arrow fa-lg" style="color: {{shuttleColorHex}}"></i>
        {{shuttleName}}
      </div>
      <div class="col-2">
        <i class="fa fa-user fa-lg"></i>
        {{driverName}}
      </div>
      <div class="col-2">
        <i class="fa fa-map-pin fa-lg"></i>
        {{currentStopName}}
      </div>
      <div class="col-2 offset-4 text-right">
        {{#if isActive}}
          <div class="state-label btn btn-sm btn-info mr-4">Active</div>
        {{else isDriving}}
          <div class="state-label btn btn-sm btn-success mr-4">Driving</div>
        {{else isAtStop}}
        <div class="state-label btn btn-sm btn-warning mr-4">At-Stop</div>
        {{/if}}
        <a href="" class="cursor-pointer">
          <i class="fa fa-calendar fa-lg"></i>
        </a>
      </div>
    </div>
    <div class="schedule-card card m-1">
      <div class="row p-1">
        <div class="col-12">
          <table class="table table-sm overflow-y">
            <thead>
            <th></th>
            <th>Order</th>
            <th>Stop</th>
            <th>Address</th>
            <th>ETA</th>
            <th>EWT</th>
            <th>Departure</th>
            </thead>
            <tbody>
            <tr>
              <td><i class="fa fa-check-square-o"></i></td>
              <td>1</td>
              <td>Airport</td>
              <td>123 Airport Rd</td>
              <td>4:30 PM</td>
              <td>30 mins</td>
              <td>4:34 PM</td>
            </tr>
            <tr>
              <td><i class="fa fa-spinner"></i></td>
              <td>2</td>
              <td>Baseball Stadium</td>
              <td>123 Baseball Stadium Rd</td>
              <td>5:00 PM</td>
              <td>30 mins</td>
              <td>--</td>
            </tr>
            <tr>
              <td><i class="fa fa-square-o"></i></td>
              <td>3</td>
              <td>Hotel</td>
              <td>123 Hotel Ln</td>
              <td>6:00 PM</td>
              <td>--</td>
              <td>--</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</script>