<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <link rel="stylesheet" href="/css/map.css"/>
</head>
<body>
  <header th:replace="fragments/header"></header>
  <div id="main">
    <nav th:replace="fragments/sidebar"></nav>
    <div id="content" class="d-flex flex-column">
      <div id="map-container" class="d-flex align-self-stretch">

        <!-- temporary loading icon -->
        <div class="row col align-self-stretch">
          <div class="col align-self-center text-center">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
            <div class="p-4">
              Loading...
            </div>
          </div>
        </div>

      </div>
      <div id="active-shuttle-card-container" class="align-self-stretch overflow-y">
        <div class="card shuttle-card m-2 p-2 selected">
          <div class="row">
            <div class="col-2">
              <i class="fa fa-location-arrow fa-lg" style="color: tomato;"></i>
              Shuttle 1A
            </div>
            <div class="col-2">
              <i class="fa fa-user fa-lg"></i>
              Tom Jefferson
            </div>
            <div class="col-2">
              <i class="fa fa-map-pin fa-lg"></i>
              Baseball Stadium
            </div>
            <div class="col-2 offset-4 text-right">
              <div class="state-label btn btn-sm btn-success mr-4">
                Driving
              </div>
              <a href="" class="cursor-pointer">
                <i class="fa fa-calendar fa-lg"></i>
              </a>
            </div>
          </div>
          <div class="schedule-card card m-1">
            <div class="row p-1">
              <div class="col-12">
                <table class="table table-sm overflow-y">
                  <thead>
                    <th></th>
                    <th>Order</th>
                    <th>Stop</th>
                    <th>Address</th>
                    <th>ETA</th>
                    <th>EWT</th>
                    <th>Departure</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-check"></i></td>
                      <td>1</td>
                      <td>Airport</td>
                      <td>123 Airport Rd</td>
                      <td>4:30 PM</td>
                      <td>30 mins</td>
                      <td>4:34 PM</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-spinner"></i></td>
                      <td>2</td>
                      <td>Baseball Stadium</td>
                      <td>123 Baseball Stadium Rd</td>
                      <td>5:00 PM</td>
                      <td>30 mins</td>
                      <td>--</td>
                    </tr>
                    <tr>
                      <td><i class="fa"></i></td>
                      <td>3</td>
                      <td>Hotel</td>
                      <td>123 Hotel Ln</td>
                      <td>6:00 PM</td>
                      <td>--</td>
                      <td>--</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card shuttle-card m-2 p-2">
          <div class="row">
            <div class="col-2">
              <i class="fa fa-location-arrow fa-lg" style="color: cornflowerblue;"></i>
              Shuttle 2A
            </div>
            <div class="col-2">
              <i class="fa fa-user fa-lg"></i>
              Ryan Reynolds
            </div>
            <div class="col-2">
              <i class="fa fa-map-pin fa-lg"></i>
              Baseball Stadium
            </div>
            <div class="col-2 offset-4 text-right">
              <div class="state-label btn btn-sm btn-warning mr-4">
                At-Stop
              </div>
              <a href="" class="cursor-pointer">
                <i class="fa fa-calendar fa-lg"></i>
              </a>
            </div>
          </div>
          <div class="schedule-card card m-1">
            <div class="row p-1">
              <div class="col-12">
                <table class="table table-sm overflow-y">
                  <thead>
                  <th></th>
                  <th>Order</th>
                  <th>Stop</th>
                  <th>Address</th>
                  <th>ETA</th>
                  <th>EWT</th>
                  <th>Departure</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td><i class="fa fa-check"></i></td>
                    <td>1</td>
                    <td>Airport</td>
                    <td>123 Airport Rd</td>
                    <td>4:30 PM</td>
                    <td>30 mins</td>
                    <td>4:34 PM</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-spinner"></i></td>
                    <td>2</td>
                    <td>Baseball Stadium</td>
                    <td>123 Baseball Stadium Rd</td>
                    <td>5:00 PM</td>
                    <td>30 mins</td>
                    <td>--</td>
                  </tr>
                  <tr>
                    <td><i class="fa "></i></td>
                    <td>3</td>
                    <td>Hotel</td>
                    <td>123 Hotel Ln</td>
                    <td>6:00 PM</td>
                    <td>--</td>
                    <td>--</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card shuttle-card m-2 p-2">
          <div class="row">
            <div class="col-2">
              <i class="fa fa-location-arrow fa-lg" style="color: mediumspringgreen;"></i>
              Shuttle 3A
            </div>
            <div class="col-2">
              <i class="fa fa-user fa-lg"></i>
              Jim George
            </div>
            <div class="col-2">
              <i class="fa fa-map-pin fa-lg"></i>
              N/A
            </div>
            <div class="col-2 offset-4 text-right">
              <div class="state-label btn btn-sm btn-info mr-4">
                Active
              </div>
              <a href="" class="cursor-pointer">
                <i class="fa fa-calendar fa-lg"></i>
              </a>
            </div>
          </div>
          <div class="schedule-card card m-1">
            <div class="row p-1">
              <div class="col-12">
                <table class="table table-sm overflow-y">
                  <thead>
                  <th></th>
                  <th>Order</th>
                  <th>Stop</th>
                  <th>Address</th>
                  <th>ETA</th>
                  <th>EWT</th>
                  <th>Departure</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td><i class="fa fa-check"></i></td>
                    <td>1</td>
                    <td>Airport</td>
                    <td>123 Airport Rd</td>
                    <td>4:30 PM</td>
                    <td>30 mins</td>
                    <td>4:34 PM</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-spinner"></i></td>
                    <td>2</td>
                    <td>Baseball Stadium</td>
                    <td>123 Baseball Stadium Rd</td>
                    <td>5:00 PM</td>
                    <td>30 mins</td>
                    <td>--</td>
                  </tr>
                  <tr>
                    <td><i class="fa "></i></td>
                    <td>3</td>
                    <td>Hotel</td>
                    <td>123 Hotel Ln</td>
                    <td>6:00 PM</td>
                    <td>--</td>
                    <td>--</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/scripts"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCMCmjl0mitA-dr-aEQdFMGtFNeIQwF7g"></script>
  <script src="/lib/fontawesome-markers/fontawesome-markers.min.js"></script>
  <script src="/js/geolocation.js"></script>
  <script src="/js/map.js"></script>
  <script>
    $(document).ready(function(){
      var options = { };
      var app = new App(options);
      app.initialize();
    });
  </script>
</body>
</html>