<div id="assignment-stop-form-template" style="display: none">

  <tr class="assignment-stop-form">
    <td>
      <i class="fa fa-arrow-up"></i>
      <i class="fa fa-arrow-down"></i>
    </td>
    <td style="width: 80px;">
      <div class="input-group">
        <input type="text" class="field-stop-order form-control text-center"/>
      </div>
    </td>
    <td>
      <span class="field-stop-name"></span>
    </td>
    <td>
      <span class="field-stop-address"></span>
    </td>
    <td>
      <div class="input-group">
        <input type="text" class="field-est-arrive form-control" />
      </div>
    </td>
    <td>
      <div class="input-group">
        <input type="text" class="field-est-wait form-control" />
      </div>
    </td>
    <td>
      <div class="input-group">
        <input type="text" class="field-est-depart form-control" />
      </div>
    </td>
  </tr>

</div>