<div id="assignment-details-card-template" style="display: none">

  <div class="card assignment-card m-2 p-2">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-3">
            <i class="fa fa-bus fa-lg"></i>
            <span class="field-shuttle-name"></span>
          </div>
          <div class="col-3">
            <i class="fa fa-user fa-lg"></i>
            <span class="field-driver-name"></span>
          </div>
          <div class="col-3">
            <i class="fa fa-map-signs fa-lg"></i>
            <span class="field-route-name"></span>
          </div>
          <div class="col-3">
            <i class="fa fa-clock-o fa-lg"></i>
            <span class="field-start-time"></span>
          </div>
        </div>
      </div>
      <div class="col-3 text-right">
        <span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>
        <span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>
      </div>
    </div>
    <div class="schedule-card card m-1">
      <div class="row p-1">
        <div class="col-12">
          <table class="table table-sm overflow-y">
            <thead>
            <th>Order</th>
            <th>Stop</th>
            <th>Address</th>
            <th>Est. Arrive</th>
            <th>Est. Wait</th>
            <th>Est. Depart</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>