<table id="route-stop-form-template" style="display: none">

  <tr class="route-stop-form">
    <td>
      <div class="text-center btn-move-up">
        <i class="fa fa-arrow-up"></i>
      </div>
      <div class="text-center btn-move-down">
        <i class="fa fa-arrow-down"></i>
      </div>
    </td>
    <td style="width: 80px;">
      <div class="input-group">
        <input type="text" class="field-stop-order form-control text-center"/>
      </div>
    </td>
    <td>
      <span class="field-stop-name"></span>
    </td>
    <td>
      <span class="field-stop-address"></span>
    </td>
    <td>
      <span class="field-stop-lat"></span>
    </td>
    <td>
      <span class="field-stop-long"></span>
    </td>
    <td>
      <div class="text-center btn-remove">
        <i class="fa fa-2x fa-times"></i>
      </div>
    </td>
  </tr>

</table>