<div id="shuttle-activity-card-template" style="display: none">

  <div class="card shuttle-card m-2 p-2">
    <div class="row">
      <div class="col-2">
        <i class="shuttle-icon fa fa-location-arrow fa-lg"></i>
        <span class="field-shuttle-name"></span>
      </div>
      <div class="col-2">
        <i class="fa fa-user fa-lg"></i>
        <span class="field-driver-name"></span>
      </div>
      <div class="col-2">
        <i class="fa fa-map-pin fa-lg"></i>
        <span class="field-stop-name"></span>
      </div>
      <div class="col-2 offset-4 text-right">
        <div class="state-label btn btn-sm mr-4"></div>
        <a href="" class="cursor-pointer">
          <i class="fa fa-calendar fa-lg"></i>
        </a>
      </div>
    </div>
    <div class="schedule-card card m-1">
      <div class="row p-1">
        <div class="col-12">
          <table class="table table-sm overflow-y">
            <thead>
              <th></th>
              <th>Order</th>
              <th>Stop</th>
              <th>Address</th>
              <th>ETA</th>
              <th>EWT</th>
              <th>Departure</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>