<div id="stop-form-card-template" style="display: none">

  <div class="card stop-form m-2 p-2">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-3">
            <i class="fa fa-map-pin fa-lg"></i>
            <div class="input-group">
              <input type="text" class="field-stop-name form-control" placeholder="Stop Name"/>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <input type="text" class="field-stop-address form-control" placeholder="Address"/>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <input type="text" class="field-stop-lat form-control" placeholder="Latitude" readonly="readonly"/>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <input type="text" class="field-stop-long form-control" placeholder="Longitude" readonly="readonly"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-secondary btn-cancel">Cancel</button>
        <button class="btn btn-primary btn-save">Save</button>
      </div>
    </div>
  </div>

</div>