#map-container {
  flex: 1 0;
  background: #f0f0f0;
  border-bottom: 1px solid lightgrey;
}

#active-shuttle-card-container {
  flex: 1 0;
  overflow-y: auto;
}

.shuttle-card {
  background: #f8f8f8;
  cursor: pointer;
}

.shuttle-card.selected {
  border: 3px solid deepskyblue;
}

.shuttle-card .state-label {
  width: 100px;
}

.schedule-card {
  background: #f8f8f8;
  font-size: 10pt;
  height: 100px;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.schedule-card .table {
  margin-bottom: 0;
}