#map-container {
  flex: 1 1;
  background: #f0f0f0;
  border-bottom: 1px solid lightgrey;
}

#assignment-panel {
  flex: 1 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

#assignment-panel #control-panel {
  border-bottom: 1px solid lightgrey;
}

#assignment-panel #assignment-card-container {
  flex: 1 1;
  overflow-y: auto;
  overflow-x: hidden;
}


#assignment-panel .schedule-form {
  background: #f8f8f8;
  font-size: 10pt;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#assignment-panel .schedule-form .table {
  margin-bottom: 0;
}

#btn-selecteddate {
  width: 250px;
}


