#map-container {
  flex: 1 0;
  background: #f0f0f0;
  border-bottom: 1px solid lightgrey;
}

#assignment-panel {
  flex: 2 0;
  overflow-y: hidden;
}

#assignment-panel #control-panel {
  border-bottom: 1px solid lightgrey;
}

#assignment-panel #assignment-card-container {
  flex: 1 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-edit:hover > i {
  cursor: pointer;
  color: #449d44;
  transition: all .2s ease-in-out;
}

.btn-archive:hover > i{
  cursor: pointer;
  color: #c9302c;
  transition: all .2s ease-in-out;
}

.assignment-card {
  background: #f8f8f8;
}

.schedule-card {
  background: #f8f8f8;
  font-size: 10pt;
  height: 100px;
  width: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.schedule-card .table {
  margin-bottom: 0;
}
