#map-container {
  flex: 1 0;
  background: #f0f0f0;
  border-bottom: 1px solid lightgrey;
}

#active-shuttle-card-container {
  flex: 1 0;
  overflow-y: scroll;
}

.shuttle-card {
  cursor: pointer;
}

.shuttle-card.selected {
  border: 3px solid deepskyblue;
}

.shuttle-card .state-label {
  width: 100px;
}