#control-panel {
  border-bottom: 1px solid lightgrey;
}

#route-panel {
  flex: 1 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

#route-card-container {
  flex: 1 1;
  overflow-x: hidden;
  overflow-y: auto;
}