<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <link rel="stylesheet" href="/css/assignments.css"/>
</head>
<body>
<header th:replace="fragments/header"></header>
<div id="main">
  <nav th:replace="fragments/sidebar"></nav>
  <div id="content" class="d-flex flex-column">
    <div id="map-container" class="d-flex align-self-stretch">

      <!-- temporary loading icon -->
      <div class="row col align-self-stretch">
        <div class="col align-self-center text-center">
          <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
          <div class="p-4">
            Loading...
          </div>
        </div>
      </div>

    </div>
    <div id="assignment-panel" class="d-flex align-self-stretch flex-column">
      <div id="control-panel" class="p-2">
        <div class="row">
          <div id="date-cursor" class="col-3 text-left">
            <button id="btn-prevday" class="btn btn-secondary"><i class="fa fa-chevron-left"></i></button>
            <button id="btn-selecteddate" class="btn btn-secondary"
                    th:text="${displayDate}">
              Thursday, March 9, 2017
            </button>
            <button id="btn-nextday" class="btn btn-secondary"><i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="col-2 text-center">
            <div class="input-group">
              <select id="assignment-status-filter" class="form-control">
                <option value="ALL">All Assignments</option>
                <option value="SCHEDULED">Scheduled</option>
                <option value="UNFINISHED">Unfinished</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="COMPLETED">Completed</option>
              </select>
            </div>
          </div>
          <div class="col-4 text-center">
            <div class="input-group">
              <span class="input-group-addon">Address</span>
              <input id="txtbox-address" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-3 text-right">
            <button id="btn-search" class="btn btn-secondary">Search</button>
            <button id="btn-new-assignment" class="btn btn-success">New Assignment</button>
          </div>
        </div>
      </div>
      <div id="assignment-card-container" class="align-self-stretch p-2">

      </div>
    </div>
  </div>
</div>

<!-- templates -->
<div th:replace="fragments/assignment-details-card"></div>
<div th:replace="fragments/assignment-form-card"></div>
<div th:replace="fragments/assignment-stop-form"></div>

<div th:replace="fragments/scripts"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCMCmjl0mitA-dr-aEQdFMGtFNeIQwF7g"></script>
<script src="/js/geolocation.js"></script>
<script src="/js/assignments.js"></script>
<script th:inline="javascript">
  var AppOptions = { };

  /*<![CDATA[*/
  AppOptions.selectedDate = [[${selectedDate}]];
  /*]]>*/

  $(document).ready(function(){
    var app = new AssignmentApp(AppOptions);
  });
</script>
</body>
</html>