<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <link rel="stylesheet" href="/css/routes.css"/>
</head>
<body>
<header th:replace="fragments/header"></header>
<div id="main">
  <nav th:replace="fragments/sidebar"></nav>
  <div id="content" class="d-flex flex-column">
    <div id="route-panel" class="d-flex align-self-stretch flex-column">
      <div id="control-panel" class="p-2">
        <div class="row">
          <div class="col-12 text-right">
            <button id="btn-new-route" class="btn btn-success">New Route</button>
          </div>
        </div>
      </div>
      <div id="route-card-container" class="align-self-stretch p-2">
        <div class="row">
          <div class="col-12">











            <!-- test cards -->
            <!--<div class="card route-card m-2 p-2">-->
              <!--<div class="row">-->
                <!--<div class="col-9">-->
                  <!--<i class="fa fa-map-signs fa-lg"></i>-->
                  <!--Downtown Loop-->
                <!--</div>-->
                <!--<div class="col-3 text-right">-->
                  <!--<span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>-->
                  <!--<span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="schedule-card card m-1">-->
                <!--<div class="row p-1">-->
                  <!--<div class="col-12">-->
                    <!--<table class="table table-sm overflow-y">-->
                      <!--<thead>-->
                      <!--<th>Order</th>-->
                      <!--<th>Stop</th>-->
                      <!--<th>Address</th>-->
                      <!--<th>Lat</th>-->
                      <!--<th>Long</th>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                      <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Airport</td>-->
                        <!--<td>123 Airport Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Baseball Stadium</td>-->
                        <!--<td>123 Baseball Stadium Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Hotel</td>-->
                        <!--<td>123 Hotel Ln</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card route-card m-2 p-2">-->
              <!--<div class="row">-->
                <!--<div class="col-9">-->
                  <!--<i class="fa fa-map-signs fa-lg"></i>-->
                  <!--Downtown Loop-->
                <!--</div>-->
                <!--<div class="col-3 text-right">-->
                  <!--<span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>-->
                  <!--<span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="schedule-card card m-1">-->
                <!--<div class="row p-1">-->
                  <!--<div class="col-12">-->
                    <!--<table class="table table-sm overflow-y">-->
                      <!--<thead>-->
                      <!--<th>Order</th>-->
                      <!--<th>Stop</th>-->
                      <!--<th>Address</th>-->
                      <!--<th>Lat</th>-->
                      <!--<th>Long</th>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                      <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Airport</td>-->
                        <!--<td>123 Airport Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Baseball Stadium</td>-->
                        <!--<td>123 Baseball Stadium Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Hotel</td>-->
                        <!--<td>123 Hotel Ln</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card route-card m-2 p-2">-->
              <!--<div class="row">-->
                <!--<div class="col-9">-->
                  <!--<i class="fa fa-map-signs fa-lg"></i>-->
                  <!--Downtown Loop-->
                <!--</div>-->
                <!--<div class="col-3 text-right">-->
                  <!--<span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>-->
                  <!--<span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="schedule-card card m-1">-->
                <!--<div class="row p-1">-->
                  <!--<div class="col-12">-->
                    <!--<table class="table table-sm overflow-y">-->
                      <!--<thead>-->
                      <!--<th>Order</th>-->
                      <!--<th>Stop</th>-->
                      <!--<th>Address</th>-->
                      <!--<th>Lat</th>-->
                      <!--<th>Long</th>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                      <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Airport</td>-->
                        <!--<td>123 Airport Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Baseball Stadium</td>-->
                        <!--<td>123 Baseball Stadium Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Hotel</td>-->
                        <!--<td>123 Hotel Ln</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card route-card m-2 p-2">-->
              <!--<div class="row">-->
                <!--<div class="col-9">-->
                  <!--<i class="fa fa-map-signs fa-lg"></i>-->
                  <!--Downtown Loop-->
                <!--</div>-->
                <!--<div class="col-3 text-right">-->
                  <!--<span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>-->
                  <!--<span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="schedule-card card m-1">-->
                <!--<div class="row p-1">-->
                  <!--<div class="col-12">-->
                    <!--<table class="table table-sm overflow-y">-->
                      <!--<thead>-->
                      <!--<th>Order</th>-->
                      <!--<th>Stop</th>-->
                      <!--<th>Address</th>-->
                      <!--<th>Lat</th>-->
                      <!--<th>Long</th>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                      <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Airport</td>-->
                        <!--<td>123 Airport Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Baseball Stadium</td>-->
                        <!--<td>123 Baseball Stadium Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Hotel</td>-->
                        <!--<td>123 Hotel Ln</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card route-card m-2 p-2">-->
              <!--<div class="row">-->
                <!--<div class="col-9">-->
                  <!--<i class="fa fa-map-signs fa-lg"></i>-->
                  <!--Downtown Loop-->
                <!--</div>-->
                <!--<div class="col-3 text-right">-->
                  <!--<span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>-->
                  <!--<span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="schedule-card card m-1">-->
                <!--<div class="row p-1">-->
                  <!--<div class="col-12">-->
                    <!--<table class="table table-sm overflow-y">-->
                      <!--<thead>-->
                      <!--<th>Order</th>-->
                      <!--<th>Stop</th>-->
                      <!--<th>Address</th>-->
                      <!--<th>Lat</th>-->
                      <!--<th>Long</th>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                      <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Airport</td>-->
                        <!--<td>123 Airport Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Baseball Stadium</td>-->
                        <!--<td>123 Baseball Stadium Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Hotel</td>-->
                        <!--<td>123 Hotel Ln</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card route-card m-2 p-2">-->
              <!--<div class="row">-->
                <!--<div class="col-9">-->
                  <!--<i class="fa fa-map-signs fa-lg"></i>-->
                  <!--Downtown Loop-->
                <!--</div>-->
                <!--<div class="col-3 text-right">-->
                  <!--<span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>-->
                  <!--<span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="schedule-card card m-1">-->
                <!--<div class="row p-1">-->
                  <!--<div class="col-12">-->
                    <!--<table class="table table-sm overflow-y">-->
                      <!--<thead>-->
                      <!--<th>Order</th>-->
                      <!--<th>Stop</th>-->
                      <!--<th>Address</th>-->
                      <!--<th>Lat</th>-->
                      <!--<th>Long</th>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                      <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Airport</td>-->
                        <!--<td>123 Airport Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Baseball Stadium</td>-->
                        <!--<td>123 Baseball Stadium Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Hotel</td>-->
                        <!--<td>123 Hotel Ln</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card route-card m-2 p-2">-->
              <!--<div class="row">-->
                <!--<div class="col-9">-->
                  <!--<i class="fa fa-map-signs fa-lg"></i>-->
                  <!--Downtown Loop-->
                <!--</div>-->
                <!--<div class="col-3 text-right">-->
                  <!--<span class="btn-edit mr-3"><i class="fa fa-edit fa-lg"></i></span>-->
                  <!--<span class="btn-archive"><i class="fa fa-trash fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="schedule-card card m-1">-->
                <!--<div class="row p-1">-->
                  <!--<div class="col-12">-->
                    <!--<table class="table table-sm overflow-y">-->
                      <!--<thead>-->
                      <!--<th>Order</th>-->
                      <!--<th>Stop</th>-->
                      <!--<th>Address</th>-->
                      <!--<th>Lat</th>-->
                      <!--<th>Long</th>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                      <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Airport</td>-->
                        <!--<td>123 Airport Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Baseball Stadium</td>-->
                        <!--<td>123 Baseball Stadium Rd</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Hotel</td>-->
                        <!--<td>123 Hotel Ln</td>-->
                        <!--<td>39.8282</td>-->
                        <!--<td>-98.5795</td>-->
                      <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!-- end test cards -->










          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/route-details-card"></div>
<div th:replace="fragments/route-form-card"></div>
<div th:replace="fragments/route-stop-form"></div>

<div th:replace="fragments/scripts"></div>
<script src="/js/routes.js"></script>
<script>
  $(document).ready(function(){
    var app = new RouteApp();
  });
</script>
</body>
</html>